.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
.capitalize {
  text-transform: capitalize;
}
.comment-card-container {
  display: flex;
  flex-direction: column;
}
.comment-content-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 12px;
}
.comment-username-initial-container {
  border-radius: 12px;
  font-size: 12px;
  width: 24px;
  padding: 5px 0px;
  text-align: center;
  margin-right: 12px;
  color: white;
}
.comment-container {
  display: flex;
  flex-direction: column;
}
.comment-username-container {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
}
.comment-username {
  font-size: 12px;
  font-weight: 400;
  margin-right: 20px;
}
.comment-time-distance {
  font-size: 8px;
  color: #94a3b8;
}
.comment {
  font-size: 12px;
  color: #64748b;
}
.comment-actions-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}
.comment-action-button {
  display: flex;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.comment-like-icon {
  width: 16px;
  margin-right: 12px;
}
.comment-like-text {
  font-size: 12px;
  color: #7e858e;
}
.comment-delete-icon {
  width: 16px;
}
.comment-liked {
  color: #0b69ff;
}
